<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">0</th>
        <th scope="col">Name</th>
        <th scope="col">Features</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>samsung</td>
        <td>32GB Ram</td>
        <td>23000</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>vivo</td>
        <td>8GB Ram</td>
        <td>15000</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Redmi</td>
        <td>12GB ram</td>
        <td>20000</td>
      </tr>
    </tbody>
  </table>
