/* .changeColor{
    color: crimson;
}
.bgColor{
    background-color: darkgoldenrod;
}
.newfont{
    color: darkmagenta;
} */

/* .available{
    color: darkred;
}
.unAvailable{
    color: darkslategrey;
} */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
} */



.a{
    text-decoration: none;
}
.navbar{
    

}
