<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<section id="container">
    <div class="card">
    <h1>Sedans</h1>
    <p>
     Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, autem dolor quasi est enim dicta numquam
     ipsam debitis ipsum quibusdam! Sapiente cumque ducimus officia aspernatur,
     dicta sint doloribus sed! Quas.
    </p>
    <button class="btn">Learn more</button>
    </div>
    
    <div class="card">
        <h1>Suvs</h1>
        <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, autem dolor quasi est enim dicta numquam
         ipsam debitis ipsum quibusdam! Sapiente cumque ducimus officia aspernatur,
         dicta sint doloribus sed! Quas.
        </p>
        <button class="btn">Learn more</button>
    </div>
    
    <div class="card">
        <h1>Luxury</h1>
        <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, autem dolor quasi est enim dicta numquam
         ipsam debitis ipsum quibusdam! Sapiente cumque ducimus officia aspernatur,
         dicta sint doloribus sed! Quas.
        </p>
        <button class="btn">Learn more</button>
    </div>
    </section>
    
    
    
     -->

     <!-- <table border="1">
        <tr>
            <td>First_Name</td>
            <td>Last_Name</td>
            <td>Age</td>
        </tr>
        <tr *ngFor = "let name of names">
            <td>{{name.First_Name}}</td>
            <td>{{name.Last_Name}}</td>
            <td>{{name.Age}}</td>
        </tr>
    </table>  -->